*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}

#social{
    margin-left: 8%;
    margin-top: 100px;
}

#social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

#social a:hover{
    color: orange;
}
.ph{
    font-size: 80px;
    text-align: center;
    padding: 50px;
}
#projects {
	padding: 10rem 0;
    background:#eff4fd;
    position: relative;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: orange;
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #4705fc33;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #5a24ed38;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}
.section-heading{
    text-align: center;
    color: orange;
    font-size: 50px;
}
.img{
    height: 200px;
}
.container {
    width: 100%; 
    background-color: #ddd; 
  }
  
  .skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px;
    color: white; 
  }
  
  .html {width: 90%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;} 
  .js {width: 65%; background-color: #f44336;} 
  .dsa {width: 60%; background-color: pink;} 
  .ca {width:80%; background-color:orange;}
  .c{width: 90%; background-color: violet;}
  #skills{
    background: #eff4fd;
  }
  .sk{
    padding: 5px;
    margin: 10px;
  }
#skills{
    display:flow-root;
    padding: 200px;
}
#social{
    border-radius: 30%;
    margin: 0%;
    background: lightblue;
    height: 300px;
}
.s{
    height: 20px;
    width: 20px;
    padding: 100px;
    margin-bottom: 500px;
}
#te{
    padding: 30px;
}
h4{
    text-align: center;
    padding-top: 30px;

}
.last{
    text-align: center;
}
#projects{
    padding-bottom: 1px;
}
#skills{
    padding-top: 1px;
}
#s{
    padding-bottom: 60px;
}
body{
    background:#eff4fd;
}